/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/roboto/roboto-v20-latin_cyrillic-regular.eot");
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff2")
      format("woff2"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff") format("woff"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.ttf")
      format("truetype"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.svg#Roboto")
      format("svg");
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-500.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-500.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-500.woff") format("woff"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-500.ttf") format("truetype"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-500.svg#Roboto")
      format("svg");
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-700.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-700.woff") format("woff"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-700.ttf") format("truetype"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-700.svg#Roboto")
      format("svg");
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-900.eot");
  src: local("Roboto Black"), local("Roboto-Black"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-900.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-900.woff2") format("woff2"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-900.woff") format("woff"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-900.ttf") format("truetype"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-900.svg#Roboto")
      format("svg");
}

:root {
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --title-color: #212121;
  --main-bckgrnd: #2f303a;
  --white-clr: #ffffff;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  max-width: 100%;
  margin: auto;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero/hero.jpg);
  background-color: #2f303a;

  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  height: 600px;
}

.text {
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  height: 75px;
}

.link {
  color: var(--main-text-color);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color var(--timing-function);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  transition: color var(--timing-function);
}

.link-contact {
  color: rgba(255, 255, 255, 0.6);
}

.logo-style {
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
  height: 31px;
}

.logo-accent.link {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-clr {
  color: var(--title-color);
}

.link-nav {
  position: relative;
  display: inline-flex;
  color: var(--title-color);
}

.link-nav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);

  transform: scale(0);
  transition: transform var(--timing-function);
}

.link-nav:focus::after,
.link-nav:hover::after {
  transform: scaleX(1);
}

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.title-name {
  color: var(--title-color);
  margin-bottom: 0;
}

.main-title {
  display: block;
  width: 696px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-clr);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn-service {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  background-color: #f5f4fa;
  color: var(--title-color);
  border-radius: 4px;
  border-width: 0;
  height: 50px;
}

.btn-service:hover,
.btn-service:focus {
  background-color: var(--accent-color);
  color: var(--white-clr);
  outline: none;
  transition: background-color var(--timing-function),
    color var(--timing-function);
}

.title-name {
  color: var(--title-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 30px;
  height: 19px;
}

.team-item {
  text-align: center;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item:last-child .profession {
  margin-bottom: 0;
}
.list .team-item {
  width: 270px;
  margin-right: 30px;
  background-color: white;
}

.team-item:last-child {
  margin-right: 0;
}

h1,
h2 {
  text-align: center;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
}

.section-staff {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  border: 1px solid #ececec;
}

.title-advantages {
  color: var(--title-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  height: 16px;
}

.profession {
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0;
  height: 19px;
}

.adress {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-css {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  padding-bottom: 60px;
}

.left-footer {
  padding-top: 60px;
}

.logo-style.footer {
  color: var(--white-clr);
  margin-bottom: 20px;
}

.adress-footer {
  color: var(--white-clr);
  margin-bottom: 0;
  height: 21px;
}

.adress {
  height: 81px;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: var(--title-color);
  border-radius: 4px;
  height: 38px;
  border: none;
  transition: color var(--timing-function),
    background-color var(--timing-function), box-shadow var(--timing-function);
}

.btn:hover,
.btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  background-color: var(--accent-color);
  color: var(--white-clr);
  outline: none;
  transition: color var(--timing-function),
    background-color var(--timing-function), box-shadow var(--timing-function);
}

.project {
  display: block;
  text-decoration: none;
}

.description {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.project-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  height: 36px;
  margin-bottom: 0;
}

.project-description {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  height: 30px;
  margin-bottom: 0;
  margin-top: 4px;
}
.site-nav .link-nav.current {
  color: var(--accent-color);
}
.site-nav,
.nav-logo {
  display: flex;
  align-items: center;
}

.site-nav .link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
}
.site-nav .item {
  display: flex;
  margin-right: 50px;
}
.site-nav .item:last-child {
  margin-right: 0;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .link {
  display: inline-flex;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 21px;
}

.icon-nav {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  fill: var(--main-text-color);
  transition: fill var(--timing-function);
}

.envelope-icon {
  width: 16px;
  height: 12px;
}

.phone-icon {
  width: 10px;
  height: 16px;
}

.auth-nav .link:hover .envelope-icon,
.auth-nav .link:focus .envelope-icon {
  fill: var(--accent-color);
  transition: fill var(--timing-function);
}

.auth-nav .link:hover .phone-icon,
.auth-nav .link:focus .phone-icon {
  fill: var(--accent-color);
  transition: fill var(--timing-function);
}

.auth-nav .item + .item {
  margin-left: 30px;
}
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: 93px;
}

.list .item-text {
  width: calc((100% - 90px) / 4);
}

.item-text::before {
  content: " ";
  display: block;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.antenna-icon::before {
  background-image: url(../icons/antenna.svg);
}

.clock-icon::before {
  background-image: url(../icons/clock.svg);
}
.diagram-icon::before {
  background-image: url(../icons/diagram.svg);
}

.austranaut-icon::before {
  background-image: url(../icons/astronaut.svg);
}

.list .item-text + .item-text {
  margin-left: 30px;
}

.list .directions {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.directions {
  position: relative;
}

.directions:last-child {
  margin-right: 0;
}

.title-card {
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  height: 70px;
  text-align: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-clr);
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.working {
  padding-bottom: 94px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.box {
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  width: 370px;
  text-align: center;
  padding-bottom: 0;
  border: 1px solid #eeeeee;
}

.box-thumb {
  position: relative;
  display: flex;
  overflow: hidden;
}

.box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  opacity: 0.5;
  transform: translateY(100%);
  transition: transform var(--timing-function);
}

.project:hover .article-portfolio,
.project:focus .article-portfolio {
  opacity: 1;
  transition: opacity var(--timing-function);
}

.project:hover .box-overlay,
.project:focus .box-overlay {
  opacity: 0.9;
  transform: translateY(0);
}

.article-portfolio {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;

  display: inline-block;
  width: 322px;
  height: 168px;
  text-align: left;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-clr);
}

.project:hover,
.project:focus {
  transition: box-shadow var(--timing-function);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.box:nth-child(3n) {
  margin-right: 0;
}

.box:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.footer-adress {
  display: inline-block;
  margin-top: 9px;
}

.contact-footer {
  margin-bottom: 9px;
  height: 21px;
}

.contact-footer:last-child {
  margin-bottom: 0;
}

.list-nav {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.btn-portfolio {
  margin-right: 8px;
  transition: color var(--timing-function),
    background-color var(--timing-function);
}

.btn-portfolio:last-child {
  margin-right: 0;
}

.social-icons-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill var(--timing-function);
}

.social-icons {
  display: flex;
  padding-left: 32px;
  margin-top: 16px;
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-clr);
  border-radius: 50%;
  transition: background-color var(--timing-function);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--accent-color);
  transition: background-color var(--timing-function);
}

.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
  fill: var(--white-clr);
  transition: fill var(--timing-function);
}

.icons-footer {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--timing-function);
}

.footer-svg {
  fill: var(--white-clr);
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-net {
  margin-left: 70px;
  padding-top: 72px;
}

.join {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-clr);
  height: 16px;
  margin-bottom: 20px;
}

.link.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border var(--timing-function);
}

.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-icons-svg {
  fill: #afb1b8;
  display: inline-block;
  transition: fill var(--timing-function);
}

.first-client {
  width: 44px;
  height: 49px;
}

.second-client {
  width: 40px;
  height: 52px;
}

.third-client {
  width: 41px;
  height: 43px;
}

.fourth-client {
  width: 80px;
  height: 42px;
}

.fifth-client {
  width: 59px;
  height: 47px;
}

.sixth-client {
  width: 88px;
  height: 45px;
}

.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link.client-link:hover,
.link.client-link:focus {
  border: 1px solid var(--accent-color);
  transition: border var(--timing-function);
}

.link.client-link:hover .client-icons-svg,
.link.client-link:focus .client-icons-svg {
  fill: var(--accent-color);
  transition: fill var(--timing-function);
}

.footer-css .container {
  display: flex;
}

.social-net .social-icons {
  padding-left: 0;
  margin-top: 0;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 100;
  transition: opacity var(--timing-function);
}

.backdrop:not(is-hidden) .modal {
  transform: scale(1) translate(-50%, -50%);
  transform-origin: left top;
  transition: transform var(--timing-function);
}

.backdrop.is-hidden .modal {
  transition: transform 0ms;
  transform: scale(0) translate(-50%, -50%);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--white-clr);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.close-icon {
  position: absolute;
  top: 0;
  right: 0;

  width: 30px;
  height: 30px;
  background-color: var(--white-clr);
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 50%;
  text-align: center;
}

.close-icon:hover .close-icons-svg,
.close-icon:focus .close-icons-svg {
  fill: var(--accent-color);
  transition: fill var(--timing-function);
}

.close-icon .close-icons-svg {
  position: absolute;
  display: block;
  background-size: contain;
  width: 11px;
  height: 11px;
  transform: translate(20%, -50%);
  transition: fill var(--timing-function);
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
}

.modal-form {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  margin-bottom: 12px;
}

.btn-send {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;
  color: var(--title-color);
  border: none;
  transition: color var(--timing-function),
    background-color var(--timing-function), box-shadow var(--timing-function);
}

.btn-send:hover,
.btn-send:focus {
  background-color: var(--accent-color);
  color: var(--white-clr);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: color var(--timing-function),
    background-color var(--timing-function), box-shadow var(--timing-function);
}

textarea {
  resize: none;
}

.form {
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 448px;
  text-align: start;

  margin-bottom: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  margin-top: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  outline: none;
  transition: border-color var(--timing-function);
}

.form-label {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.form-input {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--title-color);
  padding: 0;
  margin: 0;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border-color var(--timing-function);
}

.form-input:focus,
.form-input:not(:placeholder-shown) {
  border-color: var(--accent-color);
  transition: border-color var(--timing-function);
}

.field:focus,
.field:not(:placeholder-shown) {
  border-color: var(--accent-color);
  transition: border-color var(--timing-function);
}

.comment-field {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.comment-field textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.icon-modal {
  position: absolute;
  display: block;
  bottom: 14px;
  left: 14px;
  background-size: contain;
  fill: var(--title-color);
  transition: fill var(--timing-function);
}

.icon-modal-name {
  width: 12px;
  height: 12px;
  left: 15px;
}

.icon-modal-mail {
  width: 15px;
  height: 12px;
}

.icon-modal-mob {
  background-size: contain;
  width: 13px;
  height: 13px;
}

.form-input:focus + .icon-modal,
.form-input:not(:placeholder-shown) + .icon-modal {
  fill: var(--accent-color);
  transition: fill var(--timing-function);
}

.form-input:focus,
.form-input:not(:placeholder-shown) {
  transition: border-color var(--timing-function);
}

.contract {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.contract {
  margin-bottom: 30px;
}

.checkbox {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid var(--title-color);
  margin-right: 8px;
  border-radius: 2px;
  background-color: var(--white-clr);
}

.checkbox:checked + .checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../icons/icon-check.svg);
  background-size: contain;
  fill: var(--white-clr);
  background-origin: border-box;
}

.checkbox-name {
  color: var(--accent-color);
  text-decoration: none;
  border-bottom: 1px solid var(--accent-color);
}

.subscribe {
  margin-left: 93px;
  margin-right: 0;
  padding-top: 72px;
  padding-bottom: 94px;
}

.subsribe-form {
  display: flex;
  padding: 0;
}

.mailing-input {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  width: 358px;
  height: 50px;
  align-items: center;
  letter-spacing: 0.03em;
  background-color: var(--main-bckgrnd);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 16px;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  outline: none;
  transition: border-color var(--timing-function);
}

.mailing-input:focus,
.mailing-input:not(:placeholder-shown) {
  border-color: var(--accent-color);
  transition: border-color var(--timing-function);
}

.mailing-btn {
  position: relative;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  background-color: #f5f4fa;
  color: var(--title-color);
  border-radius: 4px;
  border-width: 0;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  padding-right: 62px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 12px;
  transition: background-color var(--timing-function),
    color var(--timing-function), box-shadow var(--timing-function);
}

.mailing-btn:hover,
.mailing-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-clr);
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--timing-function),
    color var(--timing-function), box-shadow var(--timing-function);
}

.send-icon {
  position: absolute;
  right: 28px;
  bottom: 13px;
  width: 24px;
  height: 24px;
  fill: var(--title-color);
  transition: fill var(--timing-function);
}

.mailing-btn:hover .send-icon,
.mailing-btn:focus .send-icon {
  fill: var(--white-clr);
  transition: fill var(--timing-function);
}
